# vscode
.vscode

# env vars
.env

# s3 data
data/*

# kaggle token
kaggle.json

# catbosst info
catboost_info

# python cache
__pycache__/

# xls data
*.xls

app/docker-compose.yml
app/integration_test.py
